/* Add a black background color to the top navigation */

:root{
  --primary:#3DCFD3;
  --dark:#161616;
  --pure:#FFFFFF;
  --ternary:#898989;
  --light:#F2F2F2;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

body{
  font-family: sans-serif;
  background-color: #eff0f4;
  scroll-behavior: smooth;
}
/* Style the links inside the navigation bar */

/*===============navigation bar ends===================*/


/*==============banner area===================*/
.site-banner{
  padding-bottom: 20px;
  background: url("../image/banner.jpg");
  height: 800px;
  background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}

.site-title{
  text-align: right;
}

.site-title h2{
  display: block;
  font-weight: 900;
  position: relative;
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke: 4px var(--dark);
  animation: text_reveal .5s ease forwards;
  opacity: 0;
}
.site-title h2 span{
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #6134eb;
	animation: text_reveal_box 1s ease;
}

.site-title h2:nth-child(2) span {
	animation-delay: 1.5s;
}
.site-title h2:nth-child(3) span {
	animation-delay: 2.5s;
}
.site-title h2:nth-child(1) span {
	animation-delay: .5s;
  opacity: 0;
}

.site-title h2:nth-child(2) {
  animation-delay: 2s;
}
.site-title h2:nth-child(3) {
  animation-delay: 3s;
}
.site-title h2:nth-child(1) {
    animation-delay: 1s;
    opacity: 0;
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: var(--primary);
    opacity: 1;
	}
}

.rounded{
  margin-top: 17rem;
  display: block;
  border-radius: 50%;
  padding:1px;
  border: 8px solid transparent;
  background: var(--gradient-color);
  width: 300px;
  justify-content: center;
}

.button{
  padding: 1rem;
  font: normal 500 16px;
  position: relative;
  border: solid transparent;
  border-radius: 4px;
}

.primary-button{
  background: var(--gradient-color);
  background-clip: padding-box;
  color: var(--pure);
  transition: background .6s ease;
  box-shadow: var(--box-shadow);
}

.primary-button:hover{
  background: var(--pure);
  background-clip: padding-box;
  color: var(--dark);
}

.primary-button::after{
  position:absolute;
  top:-2px; left:-2px;
  bottom:-2px; right:-2px;
  background:var(--gradient-color);
  content:'';
  z-index:-1;
}

/*=====================banner area end============*/


/*===================About area===============*/

.about-area{
  padding: 15rem 5rem;
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; 
}

.about-image{
  margin-top: -120px;
  padding-left: 100px;
}

.about-title h1 > span{
  display: block;
  letter-spacing: 15px;
  color: var(--primary);
}

.about-head{
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  letter-spacing: 10px;
  margin: 50px;
  border-bottom: solid var(--ternary);
}

/*===================About area end===========*/

/*===================Profession Area==========*/
.profession-area{
  padding: 5rem 5rem;
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; 
}

.profession-title{
  text-align: center;
  color: var(--primary);
  display: block;
  letter-spacing: 10px;
  margin-bottom: 50px;
  border-bottom: solid var(--ternary);
}

.profession-body h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession-body h3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession-body p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession-body .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.profession-body .container .card{
  position:relative;
  height: 500px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  margin: 30px;
  background: var(--gradient-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(42, 255, 255, 0.5);
  border-left: 1px solid rgba(42, 255, 255, 0.5);
  border-right: 1px solid rgba(42, 255, 255, 0.5);
  border-bottom: 2px solid rgba(42, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.profession-body .container .card .content{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(100px);
}
.profession-body .container .card .content:hover{
  transform: translateY(0);
  opacity: 1;
}
.profession-body .container .card .content h2{
  font-size: 60px;
  position: absolute;
  top: -80px;
  right: 30px; 
  font-size: 100px;
  color: rgba(128, 128, 128, 0.1);
  pointer-events: none;
}
.profession-body .container .card .content h3{
  z-index: 1;
  color: var(--dark);
  font-weight: 300;
  font-size: 40px;
}
.profession-body .container .card .content p{
  font-size: 15px;
  color: var(--dark);
  font-weight: 300;
}
.profession-body .container .card .content a{
  display: inline-block;
  position: relative;
  background: var(--light);
  color: var(--dark);
  padding: 8px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*======================Profession Area Ends=============*/
/*======================Education Area=======================*/

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: var(--dark);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: var(--primary);
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid crimson;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background:var(--primary);
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: var(--gradient-color);
    border: 2px solid var(--primary);
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid crimson;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

/*====================End Education Area========*/

/*====================Skill Area==========*/
.progress{
	border-radius: 20px;
	height: 25px;
}
.skill-name{
	text-transform: uppercase;
	margin-left: 10px;
	padding-left:10px;
	padding-top: 2.5px;
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
}

.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: crimson;
}
.progress  .progress-bar{
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.0s;
}

@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

/*media Queries*/

@media (min-width: 768px) and (max-width: 991px){
	#about-section h1{font-size: 2.0em;}
	.nav-pills li a{font-size: 1.3em !important;}


}


@media (max-width: 767px){
	#about-section h1{
		margin-top: 90px !important;
		font-size: 1.5em;}
	.nav-pills li a{font-size: 1.3em !important;}
	.about-me-text{font-size: 1.0em;}
	.btn-tab .btn-overide{font-size: 0.8em;
		width: 200px;
	}
	#about-section{
		height: 750px;
	}
	#about-section h1{
	margin-top: 50px;
	
}
}
@media (max-width: 456px){
	#about-section{
		height: 730px;
	}
	.nav-pills li a{font-size: 0.9em !important;}
}

@media(max-width: 648px){
	#about-section{
		height: 800px;
	}
}

@media (min-width: 481px) and (max-width: 553px){
	#about-section{
		height: 900px;
	}
}

@media (max-width: 479px){
	.btn-hire{
		margin-top: 20px!important;
		
	}
	.btn-contact{
		margin-top: 10px !important;
	}

	#about-section{
		height: 950px;
	}
}

@media (max-width: 442px){
	#about-section{
		height: 980px;
	}
}

@media (max-width: 411px){
	#about-section{
		height: 1020px;
	}
}

@media (max-width: 373px){
	#about-section{
		height: 1050px;
	}
}
/*===========End Skill Area==========*/

/* Tabs*/
.tabs-area{
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; 
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: var(--primary);
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

.contact-area{
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; 
}
.contact-title{
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  display: block;
  letter-spacing: 10px;
  margin-bottom: 50px;
  border-bottom: solid var(--ternary);
}
.contact-body .contact-item .icon{
  justify-content: center;
  display: block;
  float: left;
  padding: 0 5px;
}
.contact-body .contact-item .contact-info{
  padding: 5px 5px;
}
.footer{
  background-color: var(--dark);
}
.social-links .social-name h1{
  color: var(--primary);
  text-align: center;
}
.social-links .social-name h3{
  color: var(--primary);
  text-align: center;
}
.social-links .social-name h1 span{
  color: #6134eb;
}
.social-links .social-link{
  text-align: center;
}
.footer center{
  margin-top: 50px;
  color: #6134eb;
}




